<!DOCTYPE html>
<html id="<%= 'page-' + controller.controller_path + '-' + controller.action_name%>">

<head>
	<title>Ruby Getting Started on Heroku</title>
	<meta name="viewport" content="width=device-width">
	
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<%= svg 'icon-sprites' %>
</head>

<body>
	<main>
		<div></div>
		<%= yield %>
	</main>
</body>

</html>